<p>dashboard works!</p>
<div class="row">
  <!-- --------------------------------------------------------------------------- -->
  <!-- Product Categories -->
  <!-- --------------------------------------------------------------------------- -->
  <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
    <mat-card class="cardWithShadow bg-light-primary p-2">
      <mat-card-header class="d-flex align-items-center justify-content-between">
        <mat-card-title class="f-s-18 f-w-500">Product Categories</mat-card-title>
        <button mat-fab color="accent" class="shadow-none icon-48">
          <img src="./assets/icons/total-products.png" alt="total-products-icon" class="action-icon">
        </button>
      </mat-card-header>
      <mat-card-content class="d-flex align-items-center mt-2">
        <h4 class="mat-headline-5">40,000</h4>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- --------------------------------------------------------------------------- -->
  <!-- Total Stocks -->
  <!-- --------------------------------------------------------------------------- -->
  <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
    <mat-card class="cardWithShadow bg-light-warning p-2">
      <mat-card-header class="d-flex align-items-center justify-content-between">
        <mat-card-title class="f-s-18 f-w-500">Total Stocks</mat-card-title>
        <button mat-fab color="accent" class="shadow-none icon-48">
          <img src="./assets/icons/total-stocks.png" alt="total-stocks-icon" class="action-icon">
        </button>
      </mat-card-header>
      <mat-card-content class="d-flex align-items-center mt-2">
        <h4 class="mat-headline-5">40,000</h4>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- --------------------------------------------------------------------------- -->
  <!-- Total Sales -->
  <!-- --------------------------------------------------------------------------- -->
  <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
    <mat-card class="cardWithShadow bg-light-accent p-2">
      <mat-card-header class="d-flex align-items-center justify-content-between">
        <mat-card-title class="f-s-18 f-w-500">Total Sales</mat-card-title>
        <button mat-fab color="accent" class="shadow-none icon-48">
          <img src="./assets/icons/total-sales.png" alt="total-sales-icon" class="action-icon">
        </button>
      </mat-card-header>
      <mat-card-content class="d-flex align-items-center mt-2">
        <h4 class="mat-headline-5">40,000</h4>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- --------------------------------------------------------------------------- -->
  <!-- Total Profit -->
  <!-- --------------------------------------------------------------------------- -->
  <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
    <mat-card class="cardWithShadow bg-light-success p-2">
      <mat-card-header class="d-flex align-items-center justify-content-between">
        <mat-card-title class="f-s-18 f-w-500">Total Profit</mat-card-title>
        <button mat-fab color="accent" class="shadow-none icon-40">
          <img src="./assets/icons/profit-icon.png" alt="profit-icon" class="action-icon">
        </button>
      </mat-card-header>
      <mat-card-content class="d-flex align-items-center mt-2">
        <h4 class="mat-headline-5">36,358</h4>
      </mat-card-content>
    </mat-card>
  </div>
</div>

